body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

body form button{
    border-style: outset;
    border-radius: 0cqmax;
}

body form div input{
    border-style: double;
}

a{
    color: rgb(0, 0, 0);
}

form ::placeholder{
    color: rgb(0, 0, 0);
}

div h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
}

form div input{
    color: rgb(0, 0, 0);
}

